<div id="right-panel">
  <div id="perfil">
    <div id="perfil-image-container">
      <img id="perfil-image" src="https://media.istockphoto.com/id/1287598154/es/foto/foto-del-pasaporte-del-hombre-latinoamericano-con-barba.jpg?s=612x612&w=0&k=20&c=IXVrzE0ylWr0gwI4nqZkMnzZahE3Ej4psUNyTpvptGw=" alt="perfil" />
    </div>
    <div id="perfil-information">
      <h3 id="perfil-name">Name</h3>
      <h4 id="perfil-lastname">Last Name</h4>
      <a id="perfil-editar" routerLink="/my-profile/edit">Editar perfil</a>
    </div>
  </div>
</div>
