.register-form{
  width: 400px;
  height: 700px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 20;
}
.register-input{

}
.brand-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  margin: 0px 10px;
}
.form-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
