<div style="padding: 20px">
  <h1>Mi Perfil</h1>
  <div class="profile-content" *ngIf="this.user.rol == 'employer'">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Conductor {{ this.employer.user.id }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br />
          <div>
            <dl class="row">
              <dt class="col-sm-3">Nombre</dt>
              <dd class="col-sm-9">{{ this.employer.user.name }}</dd>
              <dt class="col-sm-3">Apellido</dt>
              <dd class="col-sm-9">{{ this.employer.user.lastName }}</dd>
              <dt class="col-sm-3">DNI</dt>
              <dd class="col-sm-9">{{ this.employer.user.dni }}</dd>
              <dt class="col-sm-3">Correo</dt>
              <dd class="col-sm-9">{{ this.employer.user.email }}</dd>
              <dt class="col-sm-3">Nombre de la compañía:</dt>
              <dd class="col-sm-9">{{ this.employer.companyName }}</dd>
              <dt class="col-sm-3">Edad</dt>
              <dd class="col-sm-9">
                {{ calculateAge(this.driver.user.dateOfBirth) }}
              </dd>
              <dt class="col-sm-3">Tipo de licencia</dt>
              <dd class="col-sm-9">{{ this.driver.licensetype }}</dd>
              <dt class="col-sm-3">Descripción</dt>
              <dd class="col-sm-9">{{ this.driver.user.description }}</dd>

            </dl>
          </div>
          <div class="company-image-container">
            <img
              class="company-image"
              mat-card-image
              src="{{this.employer.imageCompany}}"
              alt="User's photo"
            />
          </div>
          <div class="card-image-container">
            <img
              class="card-image"
              mat-card-image
              src="{{this.employer.user.imageProfile}}"
              alt="User's photo"
            />
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            (click)="this.openDialogEdit()"
          >
            Editar
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="profile-content" *ngIf="this.user.rol == 'driver'">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Conductor {{ this.driver.user.id }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br />
          <div>
            <dl class="row">
              <dt class="col-sm-3">Nombre</dt>
              <dd class="col-sm-9">{{ this.driver.user.name }}</dd>
              <dt class="col-sm-3">Apellido</dt>
              <dd class="col-sm-9">{{ this.driver.user.lastName }}</dd>
              <dt class="col-sm-3">DNI</dt>
              <dd class="col-sm-9">{{ this.driver.user.dni }}</dd>
              <dt class="col-sm-3">Correo</dt>
              <dd class="col-sm-9">{{ this.driver.user.email }}</dd>
              <dt class="col-sm-3">Sector</dt>
              <dd class="col-sm-9">{{ this.driver.sector }}</dd>
              <dt class="col-sm-3">Edad</dt>
              <dd class="col-sm-9">
                {{ calculateAge(this.driver.user.dateOfBirth) }}
              </dd>
              <dt class="col-sm-3">Tipo de licencia</dt>
              <dd class="col-sm-9">{{ this.driver.licensetype }}</dd>
              <dt class="col-sm-3">Descripción</dt>
              <dd class="col-sm-9">{{ this.driver.user.description }}</dd>

            </dl>
          </div>
          <div class="card-image-container">
            <img
              class="card-image"
              mat-card-image
              src="{{this.driver.user.imageProfile}}"
              alt="User's photo"
            />
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="accent"
            (click)="this.openDialogEdit()"
          >
            Editar
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


</div>
