<div style="height: 500px; width: 800px">
  <div class="profile-content" *ngIf="this.user.rol == 'employer'">
    <form [formGroup]="form1" (submit)="form1submit()">
      <mat-form-field class="register-input" hidden="true">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>DNI</mat-label>
        <input matInput required="true" formControlName="dni" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Nombres</mat-label>
        <input matInput required="true" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Apellidos</mat-label>
        <input matInput required="true" formControlName="lastName" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
          placeholder="Fecha de Nacimiento"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
      </mat-form-field>
      <mat-form-field class="register-input">
        <mat-label>Foto de Perfil</mat-label>
        <input matInput formControlName="imageProfile" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Número de RUC</mat-label>
        <input matInput formControlName="ruc" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Nombre de la empresa</mat-label>
        <input matInput formControlName="companyname" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Descripción de la empresa</mat-label>
        <textarea
          matInput
          formControlName="companyDescription"
          rows="5"
        ></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </form>
  </div>

  <div class="profile-content" *ngIf="this.user.rol == 'driver'">
    <form [formGroup]="form2" (submit)="form2submit()">
      <mat-form-field class="register-input" hidden="true">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id2" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>DNI</mat-label>
        <input matInput required="true" formControlName="dni2" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Nombres</mat-label>
        <input matInput required="true" formControlName="name2" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Apellidos</mat-label>
        <input matInput required="true" formControlName="lastName2" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Fecha de Nacimiento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth2"
          placeholder="Fecha de Nacimiento"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description2" rows="5"></textarea>
      </mat-form-field>
      <mat-form-field class="register-input">
        <mat-label>Foto de Perfil</mat-label>
        <input matInput formControlName="imageProfile2" />
      </mat-form-field>

      <mat-form-field class="register-input">
        <mat-label>Tipo de Licencia</mat-label>
        <input matInput formControlName="licensetype2" />
      </mat-form-field>
      <mat-form-field class="register-input">
        <mat-label>N° de Licencia</mat-label>
        <input matInput formControlName="licensenumber2" />
      </mat-form-field>
      <mat-form-field class="register-input">
        <mat-label>Sector</mat-label>
        <input matInput formControlName="sector2" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </form>
  </div>
</div>
