.proposal-form {
  display: grid;
  grid-template-areas:
    "description description description licensetyperequired"
    "description description description experienceyears"
    "vehicle arrangement location area";
  grid-gap: 10px;
}

.description { grid-area: description; }
.licensetyperequired { grid-area: licensetyperequired; }
.experienceyears { grid-area: experienceyears; }
.vehicle { grid-area: vehicle; }
.arrangement { grid-area: arrangement; }
.location { grid-area: location; }
.area { grid-area: area; }
