<div>
  <h1>Mis Propuestas</h1>

  <div class="mat-elevation-z2 tb-css-1">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Código Propuesta
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Descripción
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="licenseTypeRequired">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Licencia
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.licenseTypeRequired }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="experienceYearsRequired">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Años de experiencia
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.experienceYearsRequired }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="appliers">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Appliers
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.appliers }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vehicle">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Vehículo
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.vehicle }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="idEmployer">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Código Empleador
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.idEmployer }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
