<div style="padding: 20px" *ngIf="this.user.rol == 'employer'">
  <h1>Notificaciones</h1>
  <div *ngFor="let notification of this.notifications">
    <mat-expansion-panel class="noti-item">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> forward_to_inbox </mat-icon>
          <p class="text-break" style="width: 10px"></p>
          {{ notification.idUserDriver.user.name }}
          {{ notification.idUserDriver.user.lastName }}
        </mat-panel-title>
        <mat-panel-description> Notificación enviada - {{notification.timestamp | date:'medium':'':'' }}</mat-panel-description>
      </mat-expansion-panel-header>
      <p class="text-break">{{ notification.content }}</p>
    </mat-expansion-panel>
  </div>
</div>

<div style="padding: 20px" *ngIf="this.user.rol == 'driver'">
  <h1>Notificaciones</h1>
  <div *ngFor="let notification of this.notifications">
    <mat-expansion-panel class="noti-item">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon> call_received </mat-icon>
          <p class="text-break" style="width: 10px"></p>
          Company Name{{ notification.idUserEmployer.companyName }} | {{ notification.idUserEmployer.user.name }} {{ notification.idUserEmployer.user.lastName }}
        </mat-panel-title>
        <mat-panel-description> Notificación recibida - {{notification.timestamp | date:'medium':'':'' }}</mat-panel-description>
      </mat-expansion-panel-header>
      <p class="text-break">{{ notification.content }}</p>
    </mat-expansion-panel>
  </div>
</div>
